.Members {
	h1 {
		width: 60%;
		position: absolute;
		font-family: var(--titleFont);
		margin: 10px 0 0px 15px;

		span {
			color: rgba(var(--pointColor-code), 0.7);
		}
	}
	.topBox {
		width: 100%;
		height: 550px;
		margin: 5px 0 30px 0;
		padding-bottom: 5px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.infoBox {
			width: 30%;
			padding-right: 50px;
			border-right: 1px solid transparent;
			border-image: radial-gradient(rgba(var(--baseColor-code), 0.3) 90%, transparent) 1;

			h2 {
				font-size: 3.4rem;
				padding: 30px 0px 0px 20px;
			}
		}

		.formBox {
			width: 70%;
			padding-left: 50px;

			.h {
				padding: 20px 20px;
				font-size: 2.5rem;
				font-family: var(--titleFont);
				font-weight: bold;
				text-align: center;
			}

			table {
				width: 100%;

				tr {
					td {
						padding: 30px 20px 10px;
						position: relative;

						p {
							font-size: 0.7rem;
							color: var(--pointColor);
							font-family: '돋움';
							margin-top: 8px;
						}

						&::after {
							content: '';
							display: block;
							width: calc(100% - 40px);
							height: 1px;
							background: var(--baseColor);
							opacity: 0.6;
							position: absolute;
							bottom: 0;
							left: 20px;
						}

						input[type='text'],
						input[type='password'],
						textarea {
							width: 80%;
							padding: 10px 0px 0px;
							border: none;
							background-color: transparent;
						}
						select {
							width: 100%;
							opacity: 0.6;
							border: none;
							background-color: transparent;
						}
						label {
							margin-right: 40px;
							font-size: 1rem;
							opacity: 0.6;
						}
						input[type='checkbox'],
						input[type='radio'] {
							margin-right: 10px;
						}

						.btns {
							text-align: right;

							input[type='submit'],
							input[type='reset'] {
								background: var(--pointColor);
								margin-right: 20px;
								width: 150px;
								height: 40px;
								border: none;
								font-size: 1rem;
								color: var(--lightColor);
								cursor: pointer;
								transition: 0.5s;

								&:hover {
									background-color: var(--pointColor);
								}
							}
						}
					}

					&:last-child {
						td::after {
							display: none;
						}
					}
				}
			}
		}
	}
}

.laptop,
.tablet,
.mobile {
	.Members {
		h1 {
			margin: 5px 0 0 30px;
			span {
				font-size: var(--laptopTit);
			}
		}
		.topBox {
			height: 450px;
		}
		.infoBox {
			h2 {
				font-size: 3rem;
			}
		}
	}
}

.tablet,
.mobile {
	.Members {
		h1 {
			margin: 20px 0 0 30px;
			span {
				font-size: 4.7rem;
			}
		}
		.topBox {
			height: 400px;
		}
		.wrap {
			.infoBox {
				width: 100%;
				text-align: center;
				border-right: none;
				margin-bottom: -50px;
			}
		}
		.formBox {
			width: 90%;
			padding-left: 0;
			margin: 0px auto;
		}
	}
}

.mobile {
	.Members {
		h1 {
			margin: 20px 0 0 25px;
			span {
				font-size: var(--mobileTit);
			}
		}
		.topBox {
			height: 350px;
		}
		.wrap {
			.infoBox {
				width: 100%;
				text-align: center;
				border-right: none;

				h2 {
					font-size: 2.8rem;
				}
			}
		}
		.formBox {
			width: 95%;
			padding-left: 0;
			margin: 0px auto;

			.h {
				font-size: 2rem;
			}

			table {
				tr {
					td {
						.btns {
							input[type='submit'],
							input[type='reset'] {
								margin-right: 10px;
								width: 80px;
								height: 40px;
							}
						}
					}
				}
			}
		}
	}
}
