* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
}

a {
	outline: 0;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-decoration: none;
}

.wrap {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	color: var(--baseColor);
	font-family: var(--baseFont);
	background-color: var(--bgColor);
	font-size: var(--bodySize);
	transition: color 0.7s, background-color 0.7s;

	&::-webkit-scrollbar {
		width: 7px;
		background-color: transparent;
		transition: transparent 0.7s;
	}
	&::-webkit-scrollbar-thumb {
		background-color: var(--pointColor);
	}
}
