@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Lato:ital,wght@0,300;0,400;1,400&family=Antonio:wght@200;400;500&family=Teko:wght@300;400;500&family=Fjalla+One&display=swap');

:root {
	--baseFont: 'Lato', 'IBM Plex Sans KR', 'arial', '돋움';
	--boldFont: 'Antonio', 'arial';
	--sansFont: 'Teko', 'arial';
	--pointFont: 'Fjalla One', 'arial';
	--baseColor: #121212;
	--baseColor-code: 18, 18, 18;
	--boxColor: #d5dce9;
	--boxColor-code: 213, 220, 233;
	--lightColor: #fbfbfb;
	--lightColor-code: 251, 251, 251;
	--pointColor: #233e8b;
	--pointColor-code: 35, 62, 139;
	--pointColor2: #8ac4d0;
	--pointColor2-code: 138, 196, 208;
	--bgColor: #f9f9f6;
	--bgColor-code: 249, 249, 246;
	--hdSize: 1.7rem;
	--titSize1: 7rem;
	--titSize2: 5rem;
	--laptopTit: 6rem;
	--tabletTit: 5.25rem;
	--mobileTit: 3.8rem;
	--bodySize: 1rem;
}

.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--boxColor: #515256;
	--boxColor-code: 81, 82, 86;
	--bgColor: #222;
	--pointColor: #4b4bba;
	--pointColor-code: 98, 125, 216;
}
