@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=DM+Sans:opsz@9..40&family=Bebas+Neue&family=Mukta&family=Oswald:wght@200;400&family=Raleway&display=swap');

:root {
	--baseFont: 'DM Sans', 'Noto Sans KR', 'arial', '돋움';
	--pointFont: 'Bebas Neue', 'arial';
	--titleFont: 'oswald', 'arial';
	--subFont: 'Raleway', 'arial';
	--baseColor: #121212;
	--baseColor-code: 18, 18, 18;
	--pointColor: #2e4697;
	--pointColor-code: 46, 70, 151;
	--bgColor: ghostwhite;
	--titSize1: 2.4rem;
	--titSize2: 1.5rem;
	--bodySize: 1rem;
}

.dark {
	--baseColor: #fff;
	--baseColor-code: 255, 255, 255;
	--bgColor: #222;
	--pointColor: #627dd8;
	--pointColor-code: 98, 125, 216;
}
