.Gallery {
	--gap: 10px;
	--num: 4;

	h1 {
		padding: 10px 0 0px 15px;
		letter-spacing: -0.6rem;
		span {
			font-size: 8rem;
		}
	}
	.controls {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 30px 0 12px 20px;

		.btnSet {
			display: flex;
			gap: 12px;

			button {
				background: transparent;
				border: none;
				cursor: pointer;
				padding: 2px 8px 4px 8px;
				font-size: 1.35rem;
				color: rgba(var(--baseColor-code), 0.4);
				position: relative;
				transition: 0.4s;
				border: 1px solid rgba(var(--pointColor-code), 0.5);
				font-family: var(--boldFont);
				font-weight: 500;
				letter-spacing: 0.03rem;

				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 1px;
					background: var(--pointColor);
					transition: 0.5s;
				}
				&.on {
					color: rgba(var(--baseColor), 0.8);

					&::after {
						width: 100%;
					}
				}
			}
		}

		form {
			display: flex;
			align-items: center;
			margin-right: 20px;
			gap: 5px;

			input {
				width: 120px;
				border: none;
				background-color: transparent;
				border-bottom: 1px solid rgba(var(--pointColor-code), 0.5);
				padding: 5px 3px;
				outline: 0;
			}

			.btnSearch {
				border: none;
				background-color: transparent;
				font-size: 1.2rem;
				color: var(--baseColor);
				cursor: pointer;
			}
		}
	}

	.frame {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: var(--gap);
		justify-content: flex-start;

		article {
			width: calc((100% - var(--gap) * (var(--num) - 1)) / var(--num));
			margin-top: 5px;
			//border-bottom: 1px solid rgba(var(--baseColor-code), 0.5);

			&:last-child {
				margin-bottom: 200px;
			}

			.pic {
				width: 100%;
				img {
					width: 100%;
				}
			}

			.infoBox {
				background-color: rgba(var(--baseColor-code), 0.5);
				width: 100%;
				padding: 15px 0 10px 15px;
				display: flex;
				position: relative;
				margin-top: -85px;
				color: var(--bgColor);

				&:hover {
					background-color: rgba(var(--pointColor-code), 0.5);
				}

				.profile {
					width: 20%;

					img {
						width: 50px;
						border-radius: 50px;
					}
				}

				.text {
					width: 70%;
					margin: auto -2px;

					h2 {
						font-weight: bold;
						font-family: var(--subFont);
						font-size: 1rem;
					}
					span {
						cursor: pointer;
						color: var(--boxColor);
						font-size: 0.8rem;

						&:hover {
							font-weight: bold;
							color: rgba(var(--pointColor-code), 0.6);
						}
					}
				}
			}
		}
	}
}

//laptop
.laptop {
	.Gallery {
		--num: 3;

		h1 {
			span {
				font-size: 7.5rem;
			}
		}
	}
}

//tablet
.tablet {
	.Gallery {
		--num: 2;

		h1 {
			span {
				font-size: 6.7rem;
			}
		}
	}
}

//mobile
.mobile {
	.Gallery {
		--num: 1;
		h1 {
			span {
				font-size: 5.3rem;
			}
		}
		.controls {
			.btnSet {
				gap: 10px;
				margin-bottom: 5px;

				button {
					font-size: 1.2rem;
				}
			}
		}
		form {
			margin-bottom: 10px;
		}
	}
}
