.Modal {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	padding: 5vw;
	z-index: 5;

	.con {
		width: 100%;
		height: 100%;
		color: var(--bgColor);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	span {
		cursor: pointer;
		position: absolute;
		font-size: 3rem;
		color: var(--bgColor);
		top: 2vw;
		right: 2.5vw;
	}

	h2 {
		font-size: 1.2rem;
		text-align: center;
		margin-top: 5px;
	}
}
