.Header {
	width: 70vw;
	padding: 10px 5px;
	border-bottom: 2px solid rgba(var(--baseColor-code), 0.2);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;

	.title {
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		h1 {
			font-size: var(--titSize2);
			font-family: var(--titleFont);
			padding-right: 50px;
			border-right: 2px solid black;
			letter-spacing: 3px;
		}

		h2 {
			font-size: 0.85rem;
			padding-left: 20px;
			align-items: center;
		}
	}

	.menuBox {
		width: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-left: 2px solid rgba(var(--baseColor-code), 0.2);
		font-size: 0.9rem;

		.menu {
			width: 91%;
			display: flex;
			justify-content: flex-end;
		}

		ul {
			gap: 10px;
			display: flex;
			justify-content: flex-end;
			padding-right: 5px;
			align-items: center;

			a.on {
				color: var(--pointColor);
				font-weight: bold;
			}
		}
	}

	.themeBox {
		width: 60px;
		height: 26px;
		border: 1px solid rgba(var(--baseColor-code), 0.6);
		border-radius: 18px;
		cursor: pointer;
		position: relative;
		transform: scale(0.7);

		.ball {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			background-color: rgba(var(--baseColor-code), 0.6);
			position: absolute;
			top: 2px;
			left: 2px;
			transition: 0.7s;
		}
	}

	.menuToggle {
		display: none;
	}

	.themeBox.dark {
		.ball {
			left: 35px;
		}
	}
}

// laptop mode
.laptop,
.tablet,
.mobile {
	.title {
		flex-wrap: wrap;

		h1 {
			width: 100%;
			border-bottom: 1px solid rgba(var(--baseColor-code), 0.2);
			border-right: none;
			padding-bottom: 5px;
		}

		h2 {
			width: 100%;
			padding-left: 0;
			padding-top: 5px;
		}
	}
	.menuBox {
		.menu {
			width: 70%;

			ul {
				flex-wrap: wrap;
				font-size: 1rem;
				justify-content: right;
				line-height: 0.8em;
			}
		}
	}
}

.tablet,
.mobile {
	.Header {
		width: 80vw;
		ul {
			display: none;
		}

		.menuToggle {
			display: block;
			height: 26px;
			margin: auto;
		}
	}
}
