.Department {
	h1 {
		width: 60%;
		position: absolute;
		font-family: var(--titleFont);
		margin: 170px 0 0 30px;

		span {
			color: rgba(var(--lightColor-code), 0.9);
		}
	}
	.bar {
		display: none;
	}

	h2 {
		width: 100%;
		font-weight: 400;
		margin-bottom: 40px;
		color: rgba(var(--baseColor), 0.9);
	}

	.top {
		width: 100%;
		height: 550px;
		margin: 5px 0 100px 0;
		padding-bottom: 5px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.infoBox {
		width: 100%;
		margin-bottom: 150px;

		h2 {
			display: flex;
			justify-content: center;
			margin-bottom: 80px;
			font-family: var(--boldFont);
			font-size: var(--titSize2);
			color: rgba(var(--baseColor-code), 0.9);

			/* &::before,
			&::after {
				content: '';
				flex-grow: 1;
				background-color: rgba(var(--pointColor-code), 0.8);
				height: 2px;
				margin-right: 90px;
				margin-left: 90px;
			} */
		}
	}

	.info {
		width: 96%;
		margin: 0 auto 80px auto;
		display: flex;
		justify-content: space-between;

		article {
			width: 33%;
			padding: 45px 25px;
			background-color: rgba(var(--boxColor-code), 0.5);
			color: var(--baseColor);
			border: 1px solid rgba(var(--baseColor-code), 0.5);

			.infoPic {
				width: 20%;
				opacity: 0.5;
				margin: auto;
				margin-bottom: 15px;

				img {
					width: 100%;
				}
			}

			h4 {
				font-weight: 800;
				text-align: center;
				margin-bottom: 20px;
				padding-bottom: 25px;
				border-bottom: 1px solid rgba(var(--pointColor-code), 0.9);
				font-size: 1.5rem;
			}

			p {
				font-size: 0.9rem;
			}
		}
	}
}

.midPhoto {
	position: relative;
	margin-bottom: 150px;

	.photo {
		width: 100%;
		height: 300px;
		margin: auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		h4 {
			width: 100%;
			position: absolute;
			font-size: 1.8rem;
			top: 77%;
			left: 50%;
			transform: translate(-50%, -25%);
			text-align: center;
			color: var(--bgColor);
			font-family: var(--boldFont);
		}

		p {
			width: 100%;
			position: absolute;
			font-size: 1.2rem;
			top: 88%;
			left: 50%;
			transform: translate(-50%, -25%);
			text-align: center;
			color: var(--bgColor);
			font-family: var(--boldFont);
		}
	}
}

.memberBox {
	width: 100%;
	margin-bottom: 150px;

	h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
		font-family: var(--boldFont);
		font-size: var(--titSize2);
		color: rgba(var(--baseColor-code), 0.9);

		/*
		&::before,
		&::after {
			content: '';
			flex-grow: 1;
			background-color: rgba(var(--pointColor-code), 0.8);
			height: 2px;
			margin-right: 80px;
			margin-left: 80px;
		} */
	}
	.con {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		text-align: center;

		article {
			width: 31%;
			margin-bottom: 50px;

			h3 {
				font-family: var(--boldFont);
				color: rgba(var(--pointColor-code), 1);
				font-weight: bold;
				font-size: 2rem;
				opacity: 0.7;
			}

			p {
				margin-top: 5px;
				font-family: 700;
				margin-bottom: 15px;
				font-family: var(--baseFont);
			}

			.pic {
				width: 16vw;
				height: 16vw;
				margin: auto;
				transition-duration: 0.7s;

				&:hover {
					transform: scale(1.1);
					transition-duration: 0.7s;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 70%;
				}
			}
		}
	}
}

//laptop mode
.laptop {
	.Department {
		h1 {
			span {
				font-size: 5.5rem;
			}
		}
	}
}

.tablet,
.mobile {
	.Department {
		h1 {
			margin: 120px 0 0 30px;
			letter-spacing: -0.2rem;
			span {
				font-size: 3.15rem;
			}
		}

		.top {
			width: 100%;
			height: 350px;
			margin-bottom: 50px;
			padding-bottom: 20px;
		}
		.infoBox {
			h2 {
				font-size: 2.8rem;
			}
			.info {
				article {
					.infoPic {
						width: 45%;
					}
					h4 {
						font-size: 1.1rem;
					}
				}
			}
		}
		.midPhoto {
			margin-bottom: 80px;
			.photo {
				h4 {
					top: 81%;
					font-size: 1.2rem;
				}
				p {
					top: 90%;
					font-size: 1rem;
				}
			}
		}
		.memberBox {
			margin-bottom: 150px;
			h2 {
				font-size: 2.8rem;
			}
		}
	}
}

//mobile mode
.mobile {
	.Department {
		h1 {
			margin: 110px 0px 0 30px;
			span {
				font-size: 2.2rem;
				letter-spacing: -0.1rem;
			}
		}
		.top {
			height: 300px;
		}

		.infoBox {
			h2 {
				font-size: 2rem;
				margin-bottom: 30px;
			}
			.info {
				flex-wrap: wrap;
				article {
					width: 100%;
					margin: 5px 0;
					.infoPic {
						width: 30%;
					}

					&:last-child {
						margin-bottom: -50px;
					}

					h4 {
						font-size: 1.03rem;
					}
				}
			}
		}

		.midPhoto {
			margin-bottom: 100px;

			.photo {
				h4 {
					top: 77%;
					font-size: 1.1rem;
				}
				p {
					top: 89%;
					font-size: 0.8rem;
				}
			}
		}

		.memberBox {
			h2 {
				font-size: 2rem;
			}
			.con {
				article {
					width: 50%;
					margin-bottom: 50px;

					h3 {
						font-size: 1.6rem;
					}

					p {
						font-size: 0.9rem;
					}

					.pic {
						width: 30vw;
						height: 30vw;
					}
				}
			}
		}
	}
}
