.Contact {
	h1 {
		position: absolute;
		padding: 160px 25px 0 30px;

		span {
			color: rgba(var(--lightColor-code), 0.9);
		}
	}

	.topBox {
		width: 100%;
		height: 550px;
		margin: 5px 0 10px 0;
		padding-bottom: 5px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h2 {
		display: flex;
		justify-content: center;
		margin: 50px auto 50px;
		font-family: var(--boldFont);
		font-size: var(--titSize2);
		color: rgba(var(--baseColor-code), 0.9);
	}

	.msg {
		width: 90%;
		display: flex;
		justify-content: space-between;
		margin: 10px auto;
		border: 1px solid rgba(var(--baseColor-code), 0.3);

		.msgBox {
			width: 55%;
			margin: 5px auto;

			#mailSection {
				width: 85%;
				margin: 45px 0px 10px 50px;
				font-family: var(--titleFont);

				form {
					display: flex;
					flex-direction: column;
					gap: 5px;

					textarea {
						height: 12vw;
					}

					.sendBtn {
						padding-top: 5px;
						text-align: right;
					}
				}
			}
		}

		.designBox {
			width: 45%;
			margin: 5px auto;
			overflow: hidden;

			img {
				width: 100%;
				height: 26vw;
				object-fit: cover;
				//filter: invert(69%) sepia(50%) saturate(245%) hue-rotate(189deg) brightness(93%) contrast(91%);
			}
		}
	}

	#mapSection {
		.controlBox {
			.branch {
				margin: 40px auto 0 50px;
				button {
					background-color: transparent;
					background-color: var(--pointColor);
					color: var(--bgColor);
					padding: 3px 7px;
					border: 1px solid rgba(var(--baseColor-code), 0.3);
					font-family: var(--baseFont);
				}
			}
			.info {
				margin: 0 auto 20px 50px;
				button {
					background-color: transparent;
					background-color: var(--pointColor);
					color: var(--bgColor);
					padding: 3px 7px;
					border: 1px solid rgba(var(--baseColor-code), 0.3);
					font-family: var(--baseFont);
				}
			}
		}
	}
	.tab {
		width: 90%;
		height: 50vh;
		background-color: var(--baseColor);
		position: relative;
		filter: saturate(0);
		transition: filter 0.5s;
		margin-bottom: 200px;
		margin: 20px auto 200px 50px;

		&:hover {
			filter: saturate(1);
		}

		.mapBox,
		.viewBox {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 1;

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}
}

.dark {
	.Contact {
		.tab {
			filter: saturate(0) invert(1) contrast(0.8); //saturate(0.3) brightness(0.5) contrast(1.6) hue-rotate(180deg);
		}
	}
}
