.Footer {
	width: 85vw;
	margin: 70px auto 0 auto;
	padding: 0 0 30px 0;

	.footerBox {
		width: 100%;
		display: flex;
		padding-bottom: 50px;
		margin-bottom: 20px;
		border-top: none;
		background-color: var(--pointColor);

		h1 {
			width: 50%;
			font-weight: bolder;
			margin-right: 30px;
			padding: 20px 50px 0 30px;
			opacity: 0.9;
			font-family: var(--titleFont);
			color: var(--lightColor);
		}

		.content {
			width: 50%;

			ul {
				align-items: center;
				line-height: 2rem;
				font-size: 0.9rem;
				opacity: 0.8;
				padding: 20px 0 0 0;
				font-family: var(--pointFont);
				color: var(--lightColor);

				.menuBox {
					width: 100%;
					display: flex;
					justify-content: space-between;
					.menuLeft {
						width: 33%;
						li {
							font-weight: 600;
							line-height: 2rem;
							font-size: 1rem;
							opacity: 0.9;
							font-family: var(--boldFont);
							color: var(--boxColor);
						}
					}
					.menuRight {
						width: 33%;
						li {
							font-weight: 600;
							line-height: 2rem;
							font-size: 1rem;
							opacity: 0.9;
							font-family: var(--boldFont);
							color: var(--boxColor);
						}
					}

					.social {
						width: 33%;

						ul {
							display: flex;
							font-size: 1.2rem;
							margin-top: -20px;
							gap: 5px;
							color: #d9d9d9;
						}
						form {
							margin: 10px auto;

							input::placeholder {
								font-style: italic;
								padding-left: 2px;
							}
						}
					}
				}
			}
		}
	}

	.copy {
		width: 100%;
		margin-bottom: 50px;
		margin-top: -5px;
		text-align: center;

		p {
			opacity: 0.8;
			align-items: center;
			font-size: 0.9rem;
		}
	}
}

.tablet,
.mobile {
	h1 {
		font-size: var(--hdSize);
	}
	footer {
		width: 80vw;
	}
}
