footer {
	width: 85vw;
	margin: 70px auto 0 auto;
	padding: 0 0 30px 0;

	.footerMenu {
		width: 100%;
		display: flex;
		padding-bottom: 50px;
		margin-bottom: 20px;
		border-top: none;
		background-color: var(--pointColor);

		h1 {
			width: 50%;
			font-weight: bolder;
			margin-right: 30px;
			padding: 20px 50px 0 30px;
			opacity: 0.9;
			font-family: var(--titleFont);
			color: var(--lightColor);
		}

		ul {
			align-items: center;
			line-height: 2rem;
			font-size: 0.8rem;
			opacity: 0.8;
			padding: 20px 0 0 0;
			font-family: var(--boldFont);
			color: var(--boxColor);

			li {
				font-weight: 600;
				line-height: 2rem;
				font-size: 1rem;
				opacity: 0.8;
				font-family: var(--buttonFont);
				color: var(--lightColor);
			}
		}
	}

	.social {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;

		p {
			opacity: 0.8;
			align-items: center;
			font-size: 0.9rem;
		}

		ul {
			display: flex;
			padding-right: 10px;
			gap: 5px;
		}
	}
}

.tablet,
.mobile {
	footer {
		width: 80vw;
	}
}
